/* begin Box, Sheet */

.art-Sheet-body
{
	zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{
	clip: rect(auto auto auto 990px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 400px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 3px 3px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 3px 3px);
}

.art-Block-bl
{
	clip: rect(3px 3px auto auto);
}

.art-Block-br
{
	clip: rect(3px auto auto 3px);
}

.art-Block-tc
{
	clip: rect(auto auto 3px auto);
}

.art-Block-bc
{
	clip: rect(3px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 3px);
}

.art-Block-cl
{
	clip: rect(auto 3px auto auto);
}

.art-Block-body
{
	zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader .r
{
	clip: rect(auto auto auto 998px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.art-BlockContent-body
{
	zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */
.art-Post-tl
{
	clip: rect(auto 3px 3px auto);
}

.art-Post-tr
{
	clip: rect(auto auto 3px 3px);
}

.art-Post-bl
{
	clip: rect(3px 3px auto auto);
}

.art-Post-br
{
	clip: rect(3px auto auto 3px);
}

.art-Post-tc
{
	clip: rect(auto auto 3px auto);
}

.art-Post-bc
{
	clip: rect(3px auto auto auto);
}

.art-Post-cr
{
	clip: rect(auto auto auto 3px);
}

.art-Post-cl
{
	clip: rect(auto 3px auto auto);
}

.art-Post-body
{
	zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 396px);
}
/* end Button */

