USE [master]
GO
/****** Object:  Database [bdMaratona]    Script Date: 27/08/2014 20:52:10 ******/
CREATE DATABASE [bdMaratona]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdMaratona', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bdMaratona.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdMaratona_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bdMaratona_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdMaratona].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdMaratona]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 27/08/2014 20:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[CodCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NomeCategoria] [varchar](100) NOT NULL,
	[anoInicio] [int] NOT NULL,
	[anoFim] [int] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[CodCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Corrida]    Script Date: 27/08/2014 20:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Corrida](
	[Chegada] [datetime] NOT NULL,
	[CodPessoa] [int] NOT NULL,
	[CodCategoria] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 27/08/2014 20:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pessoa](
	[CodPessoa] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](300) NOT NULL,
	[NumDoc] [varchar](50) NOT NULL,
	[DtNasc] [date] NOT NULL,
	[CodCategoria] [int] NOT NULL,
	[Inscricao] [int] NOT NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[CodPessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Categoria]    Script Date: 27/08/2014 20:52:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categoria] ON [dbo].[Categoria]
(
	[NomeCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscricao]    Script Date: 27/08/2014 20:52:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Inscricao] ON [dbo].[Pessoa]
(
	[Inscricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NumDoc]    Script Date: 27/08/2014 20:52:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NumDoc] ON [dbo].[Pessoa]
(
	[NumDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Corrida]  WITH CHECK ADD  CONSTRAINT [FK_Corrida_Categoria] FOREIGN KEY([CodCategoria])
REFERENCES [dbo].[Categoria] ([CodCategoria])
GO
ALTER TABLE [dbo].[Corrida] CHECK CONSTRAINT [FK_Corrida_Categoria]
GO
ALTER TABLE [dbo].[Corrida]  WITH CHECK ADD  CONSTRAINT [FK_Corrida_Pessoa] FOREIGN KEY([CodPessoa])
REFERENCES [dbo].[Pessoa] ([CodPessoa])
GO
ALTER TABLE [dbo].[Corrida] CHECK CONSTRAINT [FK_Corrida_Pessoa]
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_Categoria] FOREIGN KEY([CodCategoria])
REFERENCES [dbo].[Categoria] ([CodCategoria])
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [FK_Pessoa_Categoria]
GO
USE [master]
GO
