
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 20px;
	background: #6E0911 url(images/img01.jpg) repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #757890;
}

h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	letter-spacing: -.05em;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	background: url(images/img05.gif) repeat-x left bottom;
	text-decoration: none;
	color: #C0BFBF;
}

a:hover {
	background: none;
	color: #FFFFFF;
}

/* Header */

#header {
	width: 800px;
	height: 200px;
	margin: 0 auto;
	background: url(images/img02.jpg) no-repeat left top;
}

/* Logo */

#logo {
	float: left;
	color: #74788F;
}

#logo h1 {
	float: left;
	padding-top: 120px;
	padding-left: 135px;
	text-transform: lowercase;
	font-size: 2.9em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 138px 0 0 2px;
	text-transform: lowercase;
	letter-spacing: -.05em;
	font-size: 16px;
} 

#logo a {
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 200px;
	padding-top: 86px;
	padding-right: 45px;
}

#search form {
	width: 200px;
	height: 41px;
	margin: 0;
	padding: 55px 0 0 18px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 150px;
	padding: 5px 10px 5px 10px;
	border: none;
	text-transform: uppercase;
	background: #723C49;
	border: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ABB0D1;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 800px;
	height: 60px;
	margin: 0 auto;
	background: #FFFFFF url(images/img03.jpg) repeat-y left top;
}

#menu ul {
	margin: 0;
	padding: 20px 0 0 10px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	padding: 20px 20px;
	margin-right: 2px;
	text-transform: lowercase;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #757890;
}

#menu a:hover, #menu .current_page_item a {
	color: #FFFFFF;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: none;
}

/* Wraper */

#wrapper {
	width: 800px;
	margin: 0 auto;
	background: url(images/img04.jpg) repeat-y left top;
}


/* Page */

#page {
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	background: url(images/img05.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: right;
	width: 500px;
	margin-right: 40px;
}

.post {
}

.post .title {
	padding: 5px 0 5px 0;
	border-bottom: 2px solid #000000;
	color: #FFFFFF;
}

.post .title a {
	color: #FFFFFF;
}

.post h2 {
	font-size: 1.8em;
}

.post .meta {
	padding: 2px 10px;
	background: #0D0D0D;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	text-transform: uppercase;
	text-align: left;
	font-size: 9px;
}

.post .entry {
	padding: 20px 10px;
	text-align: justify;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	margin-left: 25px;
	color: #7893AE;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 10px 0 15px 15px;
}

#sidebar li li {
	padding-left: 10px;
}

#sidebar h2 {
	padding-bottom: 10px;
	padding-left: 20px;
	margin: 5px 22px;
	font-size: 1.5em;
	border-bottom: 2px solid #000000;
	background: url(images/img06.jpg) no-repeat left 35%;
	color: #FFFFFF;
}

#sidebar p {
	padding: 10px 13px 15px 23px;
	text-align: justify;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
	height: 60px;
	font-family: Arial, Helvetica, sans-serif;
	color: #D6969B;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #D6969B;
}