USE [master]
GO
/****** Object:  Database [db_mod_app]    Script Date: 18/11/2014 09:30:37 ******/
CREATE DATABASE [db_mod_app]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_mod_app', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_mod_app.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_mod_app_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_mod_app_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_mod_app].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_mod_app]
GO
/****** Object:  Table [dbo].[tbl_usuario]    Script Date: 18/11/2014 09:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_usuario](
	[nome] [nvarchar](100) NOT NULL,
	[data_nasc] [char](10) NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[senha] [nvarchar](50) NOT NULL,
	[setor] [nvarchar](50) NOT NULL,
	[cpf] [char](11) NOT NULL,
 CONSTRAINT [PK_tbl_usuario] PRIMARY KEY CLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
