USE [master]
GO
/****** Object:  Database [bdProvaVania]    Script Date: 20/11/2014 20:17:52 ******/
CREATE DATABASE [bdProvaVania]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdProvaVania', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bdProvaVania.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdProvaVania_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bdProvaVania_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdProvaVania].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdProvaVania]
GO
/****** Object:  Table [dbo].[tblCarro]    Script Date: 20/11/2014 20:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCarro](
	[placa] [varchar](50) NOT NULL,
	[renavan] [varchar](50) NULL,
	[fabricante] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[ano] [int] NULL,
 CONSTRAINT [PK_tblCarro] PRIMARY KEY CLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOcorrencia]    Script Date: 20/11/2014 20:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOcorrencia](
	[numero] [int] IDENTITY(1,1) NOT NULL,
	[data] [varchar](50) NULL,
	[local] [varchar](50) NULL,
	[descricao] [varchar](50) NULL,
	[placa] [varchar](50) NULL,
 CONSTRAINT [PK_tblOcorrencia] PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPessoa]    Script Date: 20/11/2014 20:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPessoa](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](500) NOT NULL,
	[rg] [varchar](50) NULL,
	[cpf] [varchar](50) NULL,
	[endereco] [varchar](50) NULL,
	[telefone] [varchar](50) NULL,
 CONSTRAINT [PK_tblPessoa] PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tblOcorrencia]  WITH CHECK ADD  CONSTRAINT [FK_tblOcorrencia_tblCarro] FOREIGN KEY([placa])
REFERENCES [dbo].[tblCarro] ([placa])
GO
ALTER TABLE [dbo].[tblOcorrencia] CHECK CONSTRAINT [FK_tblOcorrencia_tblCarro]
GO
USE [master]
GO
